.default-button {
  font-weight: bold !important;

  &__default {
    &:hover {
        background-color: #fff !important;
        color: $primary-color !important;
        border: 1px solid $primary-color;
      }
  }


  &__outline-button {
    &:hover {
      background-color: $primary-color !important;
      color: #fff !important;
    }
  }

  &__danger-outline {
    &:hover {
      background-color: red !important;
      color: #fff !important;
    }
  }

  &__danger {
    &:hover {
      background-color: #fff !important;
      color: red !important;
    }
  }
}
