.home-search {
  padding: 20px;
  position: relative;
  &__title {
    text-align: center;
    font-size: 26px !important;
  }

  &__select {
    width: 100%;
  }
  &__button {
    display: flex;
    button {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
