.home-page-container {
  position: relative;
  z-index: 9999;
}
.home-page {
  &__header {
    width: 80%;
    padding-bottom: 16rem;
    margin: 0 auto;
    position: relative;
  }

  &__header2 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -6rem;
    background-color: rgba(256, 256, 256, 1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  #section3 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
}

// @media screen and (max-width: 1150px) {
//   .home-page {
//     width: 90%;
//   }
// }

// @media screen and (max-width: 1000px) {
//   .home-page {
//     width: 95%;
//   }
// }

// @media screen and (max-width: 1075px) {
//   .home-page {
//     &__header2 {
//       margin-top: 0;
//     }
//   }
// }
@media screen and (max-height: 730px) {
  .home-page {
    padding-bottom: 0;
  }
  .home-page__header2 {
    position: relative;
    top: 0%;
  }
}
// @media screen and (max-height: 420px) {
//   .diagonal-shape {
//     min-height: 100%;
//   }
// }

section {
  height: 100%;
  width: 100%;
  .diagonal-shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0 !important;
    width: 50%; /* Adjust the width as needed */
    height: 100%;
    background-color: rgba(
      0,
      7,
      64,
      0.3
    ); /* Adjust the background color as needed */
    // transform: skew(20deg); /* Adjust the angle of the diagonal */
    clip-path: polygon(
      100% 0,
      100% 0,
      100% 60%,
      100% 100%,
      0 100%,
      21% 64%,
      53% 0
    );

    z-index: -99999;
  }
}

@media screen and (max-width: 796px) {
  .home-page {
    &__header {
      padding-bottom: 0;
    }

    #section3 {
      padding: 2rem 0;
    }
  }
}
