.sell-car-images {
    &__default {
        height: 350px;

        &__img-div {
            height: 100%;
            width: 100%;

            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        &__delete-icon {
            margin-right: 5px;
        }
    }

    &__multiple-images {
        margin-top: 3rem;
    }
}