.register-dealership-page {
  background-image: url("/assets/sign-in-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 60%;
  min-height: 100vh;
  display: flex;
  &__form {
    width: 100%;
    height: 100%;
    margin: 2rem;
    box-shadow: $box-shadow;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgbaPrimaryColor(0.3);
  }
}
