@import "./Theme/Scss/variables";
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  display: block;
  color: $primary-color !important;
  text-decoration: none;
}
a:hover {
  color: $primary-color;
  text-decoration: underline !important;
}

label {
  font-weight: bold;
  color: $gray-color;
}

h1 {
  margin: 0 !important;
}

.row-gutter-bottom {
  margin-bottom: 1rem;
}
.ant-dropdown-menu-item {
  &:hover {
    span {
      color: #fff !important;
    }
  }
}

.ant-modal-close {
  top: 12px !important;
}
// Pages
@import "./Pages/Home/HomePage";
@import "./Pages/Options";
@import "./Pages/RegisterPrivateUser";
@import "./Pages/RegisterDealership";
@import "./Pages/ActivateAccount";
@import "./Pages/AccountCreated";
@import "./Pages/Profile";
@import "./Pages/Dashboard";
@import "./Pages/SellCar";


// Components Site
@import "./Components/Site/Home/HomeHeader/HomeHeader";
@import "./Components/Site/Home/HomeSearch/HomeSearch";
@import "./Components/Site/SignIn/SignInForm/signInForm";
@import "./Components/Site/Options/SignUpOptions/signUpOptions";
@import "./Components/Site/RegisterPrivateUser/RegisterPrivateUserForm";
@import "./Components/Site/RegisterDealership/RegisterDealershipForm";
@import "./Components/Site/ActivateAccount/ActivateAccountForm";
@import "./Components/Site/Profile/ProfileDetails";
@import "./Components/Site/Profile/ProfileItem";
@import "./Components/Site/Profile/UserDetails";
@import "./Components/Site/Dashboard/DashboardSearch";
@import "./Components/Site/SellCar/SellCarDetails";

// Components Common
@import "./Components/Common/Navbar/navbar";
@import "./Components/Common/BackButton/backButton";
@import "./Components/Common/LinkButton";
@import "./Components/Common/DefaultButton";
@import "./Components/Common/HeaderText";
@import "./Components/Common/FormInput";
@import "./Components/Common/SiteNavbar";
@import "./Components/Template/SiteTemplate";
@import "./Components/Common/SiteModal";
@import "./Components/Common/Loading";
@import "./Components/Common/ColorPicker";
@import "./Components/Common/RadioButton";

